<!DOCTYPE html>
<html>
    <head>
        
    </head>
    
    <body>
   <h1>My Personal Weather Lookup</h1>
It is <%= @weather_lookup.temperature %> degrees F
<%= image_tag @weather_lookup.icon %>
    </body>
    
    
    
    
    
    
    
</html>